<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>

    <div>
        <form ng-submit="createEntry()">
            <div class="row">
                <label class="form-label">Id</label>
                <input type="number" ng-model="emp_id" class="form-control" required>
            </div>
            <div class="row">
                <label class="form-label">Name</label>
                <input type="text" ng-model="emp_name" class="form-control" required>
            </div>
            <div class="row">
                <label class="form-label">Designation</label>
                <input type="text" ng-model="emp_designation" class="form-control" required>
            </div>
            <div class="row">
                <label class="form-label">Department</label>
                <select class="form-select form-select-lg" ng-model="emp_department" required>
                    <option selected disabled value="">Select Dept</option>
                    <option value="Testing">Testing</option>
                    <option value="Deployment">Deployment</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Advertisement">Advertisement</option>
                </select>
            </div>
            <div class="row">
                <label class="form-label">Salary</label>
                <input type="text" ng-model="emp_salary" class="form-control" required>
            </div>
            <div class="row">
                <label class="form-label">Location</label>
                <input type="text" ng-model="emp_location" class="form-control" required>
            </div>
            <div class="row">
                <input type="submit" value="Add Employee" class="btn btn-success">
            </div>
        </form>
    </div>
</body>

</html>